<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuarios : Listar</title>
</head>
<body>
	<div class="pull-right">
		<a href="form.html" th:href="@{/usuarios/add}">Create Message</a>
	</div>
	
	<!-- error: Neither BindingResult nor plain target object for bean name 'usuario' available as request attribute,
	 no se le envia usuario cuando th:object=${usuario}, para solucionar se agrega objet usuario modelo en vista -->
	<form th:object="${usuario}" th:action="@{/usuarios/creds}" method="get">
		<input type="text" required th:field="*{username}" placeholder="Ingrese usuario"/>
		<input type="password" required th:field="*{contrasena}" placeholder="Contraseña"/>
		<button type="submit">Buscar</button>
	</form> 
	
	<!-- Form necesario para poder enviar el delete -->
	<form th:action="@{/usuarios}" th:method="delete">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Nombre</td>
					<td>Apellido</td>
					<td>Username</td>
					<td>Contraseña</td>
					<td>Correo</td>
					<td>Telefono</td>
					<td>Accion</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${usuarios.empty}">
					<td colspan="3">No Usuarios</td>
				</tr>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.nombre}">Nombre</td>
					<td th:text="${usuario.apellido}">Apellido</td>
					<td th:text="${usuario.username}">Nombre de usuario</td>
					<td th:text="${usuario.contrasena}">pass</td>
					<td th:text="${usuario.email}">correo</td>
					<td th:text="${usuario.telefono}">phone</td>
					<td><a href="updateForm.html"
						th:href="@{'/update/'+ ${usuario.id}}">Modificar</a> <!-- Usando queryParam <a href="list.html" th:href="@{'delete/?userId='+${usuario.id}}">Eliminar</a> -->
						<button type="submit" name="userId" th:value="${usuario.id}">Eliminar</button>
					</td>
					<td>
				</tr>
			</tbody>
		</table>
		<a th:if="${esconsulta}" th:href="@{/usuarios}">Atras</a>
	</form>

</body>
</html>