<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuarios : Actualizar</title>
</head>
<body>

	<!-- El th:action se correo despues de hacer submit al post, o al generarlo?? -->
	<form id="udpateForm" th:action="@{/usuarios}" th:object="${usuario}" action="#" th:method="post">
				<input type="hidden" th:value="${usuario.id}" th:field="*{id}"/>
				<label for="nombre">Nombre</label>
				<input type="text" th:value="${usuario.nombre}" th:field="*{nombre}">
				<label for="apellido">Apellido</label>
				<input type="text" th:field="*{apellido}" th:value="${usuario.apellido}">
				<label for="email">Correo</label>
				<input type="text" th:field="*{email}" th:value="${usuario.email}">
				<label for="username">Nombre de usuario</label>
				<input type="text" th:field="*{username}" th:value="${usuario.username}">
				<label for="contrasena">Contrasena</label>
				<input type="text" th:field="*{contrasena}" th:value="${usuario.contrasena}">
				<label for="telefono">Telefono</label>
				<input type="number" th:field="*{telefono}" th:value="${usuario.telefono}">
				<label for="estado">Estado</label>
				<input type="text" th:field="*{estado}" th:value="${usuario.estado}">
			<div class="form-actions">
				<button type="submit" name="update">Update</button>
			</div>
		</form>

</body>
</html>